.wrapper-content-challenge-page {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 56px;
  padding: 56px 24px 0px !important;

  @media (max-width: 700px) {
    gap: 32px;
    padding: 32px 24px 0px !important;
  }
}
