.wrapper-content-banner-left {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../../../images/d01.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;

  .color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--linear);
    mix-blend-mode: soft-light;
    opacity: 0.9;
    z-index: 1;
  }

  .banner-left-content {
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: relative;

    .wrapper-circular {
      height: 100%;
      display: flex;
    }

    .wrapper-value-progress {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--light);
      font-weight: 400;
      .value {
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
      }
      .percentage {
        font-family: "Inter";
        font-size: 26px;
        font-weight: 400;
        line-height: 30px;
        margin-left: 4px;
      }
    }

    @media (max-width: 700px) {
      height: 80%;
    }
  }


}
