.wrapper-list-item-food {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  position: relative;
  padding-bottom: 28px;

  .list-item-food {
    width: 100%;
    display: grid;
    gap: 12px;
    height: fit-content;
  }

  @media (max-width: 700px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
