:root {
  --light: #fff;

  --dark: #2e2e2e;
  --dark-500: #414141;
  --dark-400: #777777;
  --dark-300: #707070;

  --primary-300: #ffcc21;
  --primary-400: #ff963c;
  --primary-500: #ea6c00;

  --secondary-300: #8fe9d0;

  --linear: linear-gradient(180deg, #ffcc21 0%, #ff963c 100%);
  --linear-secondary: linear-gradient(0deg, #ffcc21 0%, #ff963c 100%);
}

@font-face {
  font-family: "Noto Sans JP";
  src: url("./fonts/NotoSansJP-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans JP";
  src: url("./fonts/NotoSansJP-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Noto Sans JP";
  src: url("./fonts/NotoSansJP-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Noto Sans JP";
  src: url("./fonts/NotoSansJP-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Bold.ttf") format("truetype");
  font-weight: 700;
}

* {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 300;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  color: var(--color-dark);
  transition: all 0.2s;
}

.app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .container {
    display: flex;
    justify-content: center;
    width: 100%;

    .container-content {
      width: 100%;
      max-width: 1008px;
      padding: 0 24px;
    }

    .icon-scroll {
      max-width: 1128px;
      display: flex;
      justify-content: flex-end;
    }
  }

  .app-content {
    flex-grow: 1;

    .wrapper-page {
      display: flex;
      flex-direction: column;
    }
  }
}
