:root {
  --light: #fff;

  --dark: #2e2e2e;
  --dark-500: #414141;
  --dark-400: #777777;
  --dark-300: #707070;

  --primary-300: #ffcc21;
  --primary-400: #ff963c;
  --primary-500: #ea6c00;

  --secondary-300: #8fe9d0;

  --linear: linear-gradient(180deg, #ffcc21 0%, #ff963c 100%);
  --linear-secondary: linear-gradient(0deg, #ffcc21 0%, #ff963c 100%);
}

@font-face {
  font-family: "Noto Sans JP";
  src: url("./fonts/NotoSansJP-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans JP";
  src: url("./fonts/NotoSansJP-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Noto Sans JP";
  src: url("./fonts/NotoSansJP-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Noto Sans JP";
  src: url("./fonts/NotoSansJP-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Bold.ttf") format("truetype");
  font-weight: 700;
}

* {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 300;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  color: var(--color-dark);
  transition: all 0.2s;

  .disable-scroll {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh !important;
    overflow: hidden !important;
    pointer-events: none;
  }

  .limit-text-1 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .limit-text-2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .limit-text-5 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: var(--dark-400);
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: var(--primary-300);
    border-radius: 10px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    border-radius: 10px;
  }
}

.app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .container {
    display: flex;
    justify-content: center;
    width: 100%;

    .container-content {
      width: 100%;
      max-width: 1008px;
      padding: 0 24px;
      pointer-events: auto;
    }

    .icon-scroll {
      max-width: 1128px;
      display: flex;
      justify-content: flex-end;
    }
  }

  .app-content {
    flex-grow: 1;

    .wrapper-page {
      display: flex;
      flex-direction: column;
    }
  }
}
